<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	
	
	<style>
		footer {
		text-align: center;
		font-size: .9rem;
		border-top: 1px solid #cecece;
		padding: 1rem;
		width: 100%;
		margin-top: 2rem;	
		}
	</style>
	
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			<a class="navbar-brand" href="#">Example</a>
			<div class="navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cliente}">Cliente</a></li>
					
				</ul>
			</div>
		</nav>
	</header>

	<div th:fragment="message">
	<div th:if="${warningMessage}">
		<span class="alert block alert-warning" th:text="${warningMessage}"></span>
	</div>

	<div th:if="${infoMessage}">
		<span class="alert block alert-info" th:text="${infoMessage}"></span>
	</div>

	<div th:if="${errorMessage}">
		<span class="alert block alert-danger" th:text="${errorMessage}"></span>
	</div>	
	
	<div th:if="${successMessage}">
		<span class="alert block alert-success" th:text="${successMessage}"></span>
	</div>

	
	<div th:if="${infoMessage}">
		<span class="alert block alert-info" th:text="${infoMessage}"></span>
	</div>
	</div>
	
	
	<footer th:fragment="footer"><p>&copy; JPhrionas. Todos os direitos reservados!</p></footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>