<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">

</head>

<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="jumbotron  mb-6">
		<h1 class="text-secondary" th:text="${titulo}"></h1>
		<a th:href="@{/cliente}" class="btn btn-primary">Listar Clientes</a>
	</div>

	<div th:replace="layout/layout :: message"></div>
	<div class="container-fluid">
		<div class="row"></div>

		<div class="col-12" th:object="${cliente}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
				role="alert">
				<li th:each="err :${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>

		<div class="col-md-6">
			<form method="post" th:method="POST" th:action="@{/cliente/new}"
				th:object="${cliente}" enctype="multipart/form-data">

				<!--  
				
				<input type="hidden" id="id" name="id"  th:field="*{id}"/>
				-->

				<div class="form-group">
					<label for="nome">Nome</label> <input th:errorClass="alert-danger"
						type="text" id="nome" class="form-control" th:field="*{nome}" /> <span
						class="text-danger block" th:if="${#fields.hasErrors('nome')}"
						th:errors="*{nome}"></span>
				</div>

				<div class="form-group">
					<label for="nome">Sobrenome</label> <input
						th:errorClass="alert-danger" type="text" id="sobrenome"
						class="form-control" th:field="*{sobrenome}" /> <span
						class="text-danger block"
						th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}"></span>
				</div>

				<div class="form-group">
					<label for="nome">E-mail</label> <input
						th:errorClass="alert-danger" type="text" id="email"
						class="form-control" th:field="*{email}" /> <span
						class="text-danger block" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}"></span>
				</div>

				<div class="form-group">
					<label for="createAt">Create At</label> <input type="text"
						id="createAt" class="form-control" th:field="*{createAt}" /> <span
						class="text-danger block" th:if="${#fields.hasErrors('createAt')}"
						th:errors="*{createAt}"></span>
				</div>

				<div class="form-group">
					<label for="file">Foto</label>
					<input type="file" name="file" id="file" class="form-control"/>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-success btn-md">Salvar</button>
				</div>
			</form>
		</div>
		
		
		
	</div>

	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>